body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, a, p, ul, li { font-family: Arial; }
button:focus, .btn:focus, .btn:active:focus, .btn.active:focus { outline: none; }
.btn-primary { background-color: #f07f4a; border-color: #f07f4a; box-shadow: none; }
.btn-primary:hover, .btn-primary:active, .btn-primary.hover, .btn-primary:active:focus, .btn-primary:active:hover { background-color: #e47440; border-color: #f07f4a; box-shadow: none; }
.main { height: 100%; width: 100%; display: table; }
.main .wrapper_login { display: table-cell; height: 100%; vertical-align: middle; background: #5380bf url('../images/login-bg.svg') no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }
.ats_login { width: 33.33333333%; margin: auto; padding: 45px 20px 15px 20px; background: #f5f5f5; border-radius: 3px; }
.ats_login img { margin: 0 auto 40px; }
.ats_login .form-group .form-control { border: 2px solid #d3d3d3; background: #f5f5f5; padding: 12px; height: inherit; font-weight: bold; color: #a8a8a8; }
.ats_login .form-group .btn { padding: 12px; width: 100%; color: #fff; font-size: 15px; border: none; box-shadow: none; background: #f07f4a; text-transform: uppercase; }
.ats_login .forgot { margin-bottom: 0; line-height: initial; }
.ats_login .forgot a, .ats_login .field-loginform-rememberme label { color: #8d93ac; font-weight: bold; font-size: 12px; text-decoration: underline; }
.ats_login .field-loginform-rememberme #loginform-rememberme { margin: 0; }
.ats_login .field-loginform-rememberme label { vertical-align: text-bottom; margin: 0; }
.ats_login .help-block { margin: 0; }
.checkbox label:after, .radio label:after { content: ''; display: table; clear: both; }
.checkbox, .radio { margin-top: 0; margin-bottom: 0; }
.checkbox .cr, .radio .cr { position: relative; display: inline-block; border: 1px solid #eaeaea; width: 1.3em; height: 1.3em; float: left; background: #eaeaea; }
.radio .cr { border-radius: 50%; }
.checkbox .cr .cr-icon, .radio .cr .cr-icon { position: absolute; font-size: .8em; line-height: 0; top: 50%; left: 20%; }
.checkbox label input[type="checkbox"], .radio label input[type="radio"] { display: none; }
.checkbox label input[type="checkbox"] + .cr > .cr-icon, .radio label input[type="radio"] + .cr > .cr-icon { transform: scale(3) rotateZ(-20deg); opacity: 0; transition: all .3s ease-in; }
.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon, .radio label input[type="radio"]:checked + .cr > .cr-icon { transform: scale(1) rotateZ(0deg); opacity: 1; color: #696969; }
.checkbox label input[type="checkbox"]:disabled + .cr, .radio label input[type="radio"]:disabled + .cr { opacity: .5; }
.checkbox label input[type="checkbox"]:checked + .cr, .radio label input[type="radio"]:checked + .cr { background: #fff; }
.sidebar-menu li > a > .fa-angle-left, .sidebar-menu li > a > .pull-right-container > .fa-angle-left { margin-right: 5px; }
table.table.table-striped.table-paginate { margin-bottom: 0; }
tbody { background: #fff; border-bottom: none; }
tfoot { background: #fff; border-top: none; }
tfoot .pagination { margin: 0; }
tfoot a { color: #7b8994; font-weight: bold; text-decoration: underline; font-size: 16px; background: #fafafa; display: inline-block; width: 100%; padding: 10px; }
tfoot a:hover { color: #62a5ff; text-decoration: underline; }
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th { vertical-align: middle; }
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td { border-top: 1px solid #f0f1f2; padding: 15px; }
.table>tbody>tr>td { color: #696969; font-size: 16px; padding: 15px; }
.table>tbody>tr>td>img { width: 20px; margin-right: 10px; }
.table>tbody>tr>td .checkbox label, .table>tbody>tr>td .radio label { padding-left: 15px; vertical-align: middle; }
.table>tfoot>tr>td { padding: 20px; }
.table>tbody>tr>td:last-child ul { padding: 0; list-style: none; margin: 0; }
.table>tbody>tr>td:last-child ul li { display: inline-block; }
.table>tbody>tr>td:last-child ul li a { background: none; border: none; padding: 0 3px; }
.table>tbody>tr>td:last-child ul li a img.view_icon { width: 19px; }
.table>tbody>tr>td:last-child ul li a img { width: 14px; }
.table-striped>tbody>tr:nth-of-type(odd) { background: none; }
.table-striped>tbody>tr:nth-of-type(even) { background-color: #fcfcfc; }
.skin-blue .main-header .logo, .skin-blue .main-header .logo:hover { background: #fff; }
.skin-blue .main-header .navbar { background: #fff; border-bottom: 2px solid #c9c9c9; }
.main-header .logo { height: 70px; line-height: 70px; }
.main-sidebar, .left-side { padding-top: 70px; }
.main-header .sidebar-toggle { padding: 15px 30px; font-size: 30px; height: 70px; }
.skin-blue .main-header .navbar .sidebar-toggle { color: #7b8994; }
.skin-blue .main-header .navbar .sidebar-toggle:hover { background: none; color: #7b8994; }
.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side { background-color: #5380bf; overflow: hidden; }
.skin-blue .sidebar a { color: #fff; font-size: 15px; }
.skin-blue .sidebar a i img { vertical-align: top; margin-right: 5px; width: 20px; -webkit-transition: all 0.6s ease-in-out; -moz-transition: all 0.6s ease-in-out; -o-transition: all 0.6s ease-in-out; transition: all 0.6s ease-in-out; }
.skin-blue.sidebar-mini.sidebar-collapse .sidebar a i img { width: 25px; -webkit-transition: all 0.6s ease-in-out; -moz-transition: all 0.6s ease-in-out; -o-transition: all 0.6s ease-in-out; transition: all 0.6s ease-in-out; }
.skin-blue .sidebar-menu>li>a { padding: 20px 5px 20px 35px; display: block; }
.skin-blue .sidebar-menu>li:hover>a, .skin-blue .sidebar-menu>li.active>a { background: #62a5ff; border-left-color: #62a5ff; }
.sidebar-menu li>a>.pull-right-container { margin-top: -8px; }
.sidebar-menu .treeview-menu>li>a { padding: 10px 5px 10px 40px; }
.content-header { padding: 30px 30px 0 30px; display: inline-block; width: 100%; }
.content-header h1 { font-size: 27px; color: #5e5e5e; margin: 0; }
.content-header .box-footer { margin-right: 30px; }
.content { padding-left: 30px; padding-right: 30px; }
.content-wrapper, .right-side { background-color: #f8ffff; }
.skin-blue .sidebar-menu>li>.treeview-menu { margin: 0; background: #5380bf; border-left: 3px solid #62a5ff; padding: 0; }
.skin-blue .treeview-menu>li>a { color: #ebebeb; }
.table>thead>tr>th { color: #7b8994; padding: 15px; }
.table>thead>tr>th a { color: #7b8994; }
.table>thead>tr>th a img { width: 10px; vertical-align: middle; margin-left: 3px; }
.table>thead>tr>th .dropdown-menu { margin: 0; -moz-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); -khtml-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); border: none; border-radius: 0; padding: 7px; background: #fafafa; }
.table>thead>tr>th .dropdown.open a { background: #fafafa; }
.table>thead>tr>th .dropdown-menu .table-search .form-control { border: none; background: #fff; font-weight: normal }
.table>thead>tr>th .dropdown-menu .table-search .form-control::-webkit-input-placeholder {
 color: #c3c3c3;
}
.table>thead>tr>th .dropdown-menu .table-search .form-control:-moz-placeholder {
 color: #c3c3c3;
}
.table>thead>tr>th .dropdown-menu .table-search .form-control::-moz-placeholder {
 color: #c3c3c3;
}
.table>thead>tr>th .dropdown-menu .table-search .form-control:-ms-input-placeholder {
 color: #c3c3c3;
}
.table>thead>tr>th .dropdown-menu .table-search .input-group-btn .btn { border: 1px solid #fff; background: #fff; padding-left: 0; box-shadow: none; border-radius: 0; }
.table>thead>tr>th .dropdown-menu .table-search .input-group-btn .btn:focus { outline: none; }
.table>thead>tr>th .dropdown-menu .table-search .input-group-btn .btn i { color: #c3c3c3 }
.main-header .navbar-custom-menu { padding-right: 30px; }
.main-header .navbar-custom-menu ul li { padding: 20px 15px; }
.skin-blue .main-header .navbar .nav>li>a { color: #8d93ac; padding: 0; background: none; }
.skin-blue .main-header .navbar .nav>li>a:hover { background: none; color: #8d93ac; }
.main-header .navbar-custom-menu ul li img { height: 30px; }
.main-header .navbar-custom-menu ul li.user-dropdown img.drop-arrow { width: 12px; margin-left: 5px; margin-right: 0; }
.main-header .navbar-custom-menu ul li.user-dropdown img { margin-right: 5px; }
.main-header .navbar-custom-menu ul li .dropdown-menu { padding: 15px 0; }
.main-header .navbar-custom-menu ul li .dropdown-menu li:last-child { border-bottom: 2px solid #f0f1f2; }
.main-header .navbar-custom-menu ul li .dropdown-menu li { border-top: 2px solid #f0f1f2; padding: 0; color: #c3c3c3; font-size: 15px; margin: 0 15px; }
.main-header .navbar-custom-menu ul li .dropdown-menu li a { padding: 5px; color: rgba(105, 105, 105, 0.5); background: none; }
.main-header .navbar-custom-menu ul li .dropdown-menu li:hover { background: #ededed; margin: 0; padding: 0 15px; }
.main-header .navbar-custom-menu ul li .dropdown-menu li:hover a { color: #696969; }
.main-header .navbar-custom-menu ul li .dropdown-menu li img { margin-right: 10px; }
.skin-blue .main-header .navbar .nav>li>a:hover, .skin-blue .main-header .navbar .nav>li>a:active, .skin-blue .main-header .navbar .nav>li>a:focus, .skin-blue .main-header .navbar .nav .open>a, .skin-blue .main-header .navbar .nav .open>a:hover, .skin-blue .main-header .navbar .nav .open>a:focus, .skin-blue .main-header .navbar .nav>.active>a { background: none !important; color: #8d93ac; }
.box-footer { border: none; background-color: #fafafa; padding: 0; }
.box-footer .pagination>li { display: inline-block; margin: 0 -3px; }
.box-footer .pagination>li>a { background: #fff; border: 1px solid #d3d3d3; color: #969696; font-size: 15px; font-weight: normal; }
.box-footer .pagination>li>a i { color: #eaeaea; }
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover, .box-footer .pagination>li.active a { text-decoration: none; background: #63aaea; color: #fff; }
.content-header .box-footer .pagination>li, .content-header .box-footer .pagination { float: left; }
.create-jobs { background: #e5e5e5; padding: 40px 30px; }
.create-jobs .nav-tabs-custom { margin: 0; background: none; }
.create-jobs .nav-tabs-custom>.nav-tabs>li { border: none; margin: 0; margin-right: 0; background: #9fa3b8; }
.create-jobs .nav-tabs-custom>.nav-tabs>li.active, .create-jobs .nav-tabs-custom>.nav-tabs>li.active>a, .create-jobs .nav-tabs-custom>.nav-tabs>li.active:hover>a { background: #8d93ac; color: #fff; border-left-color: #8d93ac; border-right-color: #8d93ac; }
.create-jobs .nav-tabs-custom>.nav-tabs>li a { color: #fff; font-size: 12px; font-weight: bold; text-transform: uppercase; padding: 15px 120px 15px 50px; }
.create-jobs .nav-tabs-custom>.tab-content { padding: 20px 25px; border: 1px solid #d3d3d3; border-top: none; border-radius: 0; }
.form-heading h5 { margin: 0; background: #fff; font-size: 14px; color: #7b8994; padding: 20px; border-bottom: 3px solid #8ebeff; }
.form-heading form { padding: 20px; background: #fafafb; padding-bottom: 5em; border: 2px solid #d3d3d3; border-top: 0; }
.form-heading form .form-group label { font-weight: 500; color: #5e5e5e; font-size: 13px; }
.form-heading form .form-group .form-control { background: none; color: #acb0c2; height: 50px; border: 2px solid #add5f7; }
.form-heading form .form-group .input-group.date .input-group-addon { border: 2px solid #add5f7; border-right: 0; }
.form-heading form .form-group .form-control.read-only-field { background: #fff; }
.form-heading form .form-group select.form-control { -webkit-appearance: none; -moz-appearance: none; appearance: none; background-image: url(../images/table-drop-icon.svg); background-repeat: no-repeat; background-position: 96%; background-size: 15px; }
.form-heading form .form-actions, form .form-actions { margin-top: 1.5em }
.form-heading form .form-actions .form-group .btn, form .form-actions .form-group .btn { color: #fff; text-transform: uppercase; font-size: 20px; border-radius: 5px; padding: 10px 40px; min-width: 180px; }
.form-heading form .form-actions .form-group .btn i { padding-right: 7px; }
.form-heading form .form-actions .form-group .btn.btn-back { background: #1675db; margin-right: 10px; }
.form-heading form .form-group .form-control::-webkit-input-placeholder {
 color: #acb0c2;
}
.form-heading form .form-group .form-control:-moz-placeholder {
 color: #acb0c2;
}
.form-heading form .form-group .form-control::-moz-placeholder {
 color: #acb0c2;
}
.form-heading form .form-group .form-control:-ms-input-placeholder {
 color: #acb0c2;
}
/* Table Responsive */
.table-responsive { width: 100%; margin-bottom: 17.25px; overflow-y: hidden; overflow-x: scroll; -ms-overflow-style: -ms-autohiding-scrollbar; -webkit-overflow-scrolling: touch; }
.table-responsive > .table { margin-bottom: 0; }
.table-responsive > .table > thead > tr > th, .table-responsive > .table > tbody > tr > th, .table-responsive > .table > tfoot > tr > th, .table-responsive > .table > thead > tr > td, .table-responsive > .table > tbody > tr > td, .table-responsive > .table > tfoot > tr > td { white-space: nowrap; }
.table-responsive > .table-bordered { border: 0; }
.table-responsive > .table-bordered > thead > tr > th:first-child, .table-responsive > .table-bordered > tbody > tr > th:first-child, .table-responsive > .table-bordered > tfoot > tr > th:first-child, .table-responsive > .table-bordered > thead > tr > td:first-child, .table-responsive > .table-bordered > tbody > tr > td:first-child, .table-responsive > .table-bordered > tfoot > tr > td:first-child { border-left: 0; }
.table-responsive > .table-bordered > thead > tr > th:last-child, .table-responsive > .table-bordered > tbody > tr > th:last-child, .table-responsive > .table-bordered > tfoot > tr > th:last-child, .table-responsive > .table-bordered > thead > tr > td:last-child, .table-responsive > .table-bordered > tbody > tr > td:last-child, .table-responsive > .table-bordered > tfoot > tr > td:last-child { border-right: 0; }
.table-responsive > .table-bordered > tbody > tr:last-child > th, .table-responsive > .table-bordered > tfoot > tr:last-child > th, .table-responsive > .table-bordered > tbody > tr:last-child > td, .table-responsive > .table-bordered > tfoot > tr:last-child > td { border-bottom: 0; }
.other-possibilities { cursor: pointer; }
/* GRID CSS */
.grid-wrapper .main-header .navbar { border: none; margin: 0; }
.grid-wrapper .content-wrapper, .grid-wrapper .right-side, .grid-wrapper .main-footer { margin: 0; background-color: #fff; }
.grid-head { margin-left: 350px; float: left; padding: 15px 0; }
.grid-head h4 { margin: 0; font-size: 17px; font-weight: 600; text-transform: uppercase; line-height: initial; }
.grid-head h4 span { color: #0b4ea2; text-transform: initial; }
.grid-selection { border-bottom: 3px solid #e0e0e0; background: #f5f5f5; background: -moz-linear-gradient(top, #f5f5f5 0%, #ffffff 100%); background: -webkit-linear-gradient(top, #f5f5f5 0%, #ffffff 100%); background: linear-gradient(to bottom, #f5f5f5 0%, #ffffff 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#ffffff', GradientType=0 );
}
.grid-selection ul { padding: 0; margin: 0; list-style: none; text-align: center }
.grid-selection ul li { display: inline-block; text-align: center; padding: 20px; font-size: 13px; color: #404040; }
.grid-selection ul li img { width: 50px; margin: 0 auto 10px; vertical-align: bottom; }
.grid-selection ul li img.tee-icon { width: 22px; }
.grid-selection ul li img.outlet-icon { width: 15px; }
.grid-selection ul li p { margin: 0; }
.grid-selection ul li:first-child { vertical-align: middle; color: #8d93ac; font-size: 15px; border-right: 2px solid rgba(11, 78, 162, 0.4); font-weight: 600; margin: 0; line-height: 60px; margin-top: -30px; padding: 0; padding-right: 20px; }
.grid-right { background: #5380bf; }
.grid-right .grid-right-form { position: relative; }
.grid-right:before { content: ''; position: absolute; top: 0; width: 100%; height: 200%; background: #5380bf; z-index: 0; margin-left: -15px; }
.grid-right h2 { color: #fff; font-size: 22px; background: #62a5ff; margin: -3px -15px; padding: 40px 30px 30px; position: relative; }
.grid-right .form-inline { padding: 40px 30px 30px; margin: 0 -15px; }
.grid-right .form-inline .form-group, .grid-right .form-inline .form-control { width: 100%; }
.grid-right .form-inline .form-control, .grid-right .form-inline .form-control:focus { background: none; border: 1px solid #add5f7; color: #fff; }
 .grid-right .form-inline .form-control::-webkit-input-placeholder {
 color: #fff;
}
.grid-right .form-inline .form-control:-moz-placeholder {
 color: #fff;
}
.grid-right .form-inline .form-control::-moz-placeholder {
 color: #fff;
}
.grid-right .form-inline .form-control:-ms-input-placeholder {
 color: #fff;
}
.grid-right .form-inline .grid-form-option #frame_guard-id label { font-size: 12px; padding: 10px 0 5px; }
.grid-right .form-inline .grid-form-option #frame_guard-id label:first-child input { vertical-align: -2px; margin: 0 5px 0 0; }
.grid-right .form-inline .grid-form-option #frame_guard-id label:last-child input { vertical-align: -2px; margin: 0 5px 0; }
.grid-right .form-inline label { color: #ffffff; font-weight: 500; font-size: 16px; line-height: initial; padding: 8px 0; margin: 0; }
.grid-right .form-inline label.radio-inline { font-size: 12px; }
.grid-right .form-inline label.radio-inline input[type=radio] { margin: 0 -20px; }
.grid-right .form-inline .grid-form-option { padding-left: 0; }
.grid-right .form-inline span.required { color: #4bb0ef; padding-right: 5px; width: 10px; display: inline-block; }
.grid-right .form-inline span.not-required { width: 10px; display: inline-block; }
.grid-right .form-inline span.not-required-text { color: #fff; font-weight: bold; font-size: 13px; margin: -5px 0 10px; display: block; }
.grid-right .form-inline .form-group.has-error .help-block { color: #b12929; font-size: 12px; }
.grid-right .form-inline select.form-control { -webkit-appearance: none; -moz-appearance: none; appearance: none; background-image: url(../images/grid-arrow.svg); background-repeat: no-repeat; background-position: 96%; background-size: 13px; padding-right: 30px; }
.grid-right .form-inline .btn { min-width: 100%; margin-bottom: 10px; }
.grid-right .form-inline .btn-primary { float: right; }
.grid-right .form-inline .btn-reset { background: #62a5ff; color: #fff; }
.grid-autor { width: 715px; margin: 0 auto 0 120px; padding: 70px 0; }
.grid { display: inline-block; width: 100%; height: auto; }
.grid-col { position: relative; float: left; }
.gbox { position: absolute; width: 70px; height: 70px; background-color: #f0f0f0; border: 1px solid #8d93ac; left: -35px; top: -35px; z-index: 2; }
.gline { background: #FFF; cursor: pointer; position: relative; z-index: 1; -webkit-transition: all 1s ease-in-out; -moz-transition: all 1s ease-in-out; -o-transition: all 1s ease-in-out; transition: all 1s ease-in-out; }
.gline:hover { -webkit-transition: all 1s ease-in-out; -moz-transition: all 1s ease-in-out; -o-transition: all 1s ease-in-out; transition: all 1s ease-in-out; }
.gline-var { height: 170px; width: 16px; left: -8px; }
.gline-hor { width: 170px; height: 16px; top: -8px; }
.gline-hor .lenght_val { display: inline-block; margin-top: 8px; }
.gl-right:after { content: ""; width: 100%; height: 1px; background: #8d93ac; left: 0; top: 6px; position: absolute; z-index: 2; }
.gl-bottom:after { content: ""; width: 1px; height: 100%; background: #8d93ac; left: 6px; top: 0; position: absolute; z-index: 2; }
.gline.ac:after { background: blue; }
.gbox-nav { position: absolute; background: #fff; z-index: 9; left: 45px; width: 250px; border-radius: 5px; box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); top: -20px; }
.gbox-nav ul { list-style: none; padding: 0; margin: 0; }
.gbox-nav ul li { padding: 15px 20px; color: #7b8994; border-bottom: 1px solid #e6e6e6; font-size: 13px; }
.gbox-nav ul li:first-child { border-top-left-radius: 5px; border-top-right-radius: 5px; }
.gbox-nav ul li:last-child { border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; }
.gbox-nav ul li:hover { background: #62a5ff; color: #fff; cursor: pointer; }
.gbox-nav ul li img { width: 20px; margin-right: 15px; vertical-align: bottom; }
.grid-wrapper .main-sidebar { left: -230px; -webkit-transition: all 0.6s ease-in-out; -moz-transition: all 0.6s ease-in-out; -o-transition: all 0.6s ease-in-out; transition: all 0.6s ease-in-out; }
.grid-wrapper .main-sidebar.grid-sidebar { left: 0; text-decoration: none; -webkit-transition: all 0.6s ease-in-out; -moz-transition: all 0.6s ease-in-out; -o-transition: all 0.6s ease-in-out; transition: all 0.6s ease-in-out; }
.gline-box { position: absolute; background: #fff; z-index: 9; border-radius: 5px; box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15); }
.gline-box input[type=text] { width: 50px; }
.grid_popover { padding: 12px 10px; background: #fff; height: 50px; }
.grid_popover input[type="number"] { width: 100px; padding: 1px 5px; border: 1px solid #8d93ac; }
.grid_popover input[type="number"]:focus { outline: none; }
.grid_popover input[type="number"]::-webkit-inner-spin-button, .grid_popover input[type="number"]::-webkit-outer-spin-button {
 -webkit-appearance: none;
 -moz-appearance: none;
 appearance: none;
 margin: 0;
}
.grid_popover input[type="text"] { border: none; border-right: 2px solid #adb6bd; min-width: 50px; }
.grid_popover input[type="text"]:focus, .grid_popover input[type="button"]:focus { outline: none; }
.grid_popover input[type="button"] { background: none; border: none; min-width: 50px; font-size: 13px; color: #7b8994; font-weight: bold; }
.pagination { margin: 10px 0 0 0; background: #f8ffff; width: 100%; text-align: center; float: none; padding: 10px 0 5px; border-radius: 0; }
.pagination>li { display: inline-block; margin: 0 -2px; }
.table-outer { background: #fff; padding: 15px; border-radius: 3px; border: 1px solid rgba(98, 165, 255, 0.42); margin-bottom: 2em; }
.table-outer .table-responsive { margin-bottom: 0; padding-bottom: 5px; }
.table-outer .summary { background: #f8ffff; padding: 5px 10px; margin-bottom: 20px; }
.table-outer table.table.table-striped { border: none; background: none; }
.table-outer table.table.table-striped thead { font-size: 14px; text-transform: uppercase; }
.table-outer table.table.table-striped thead tr th { padding: 0 15px 0; color: #5e5e5e; border: none; }
.table-outer table.table.table-striped thead tr th a { color: #5e5e5e; }
.table-outer table.table.table-striped thead .filters td { padding: 5px 15px 10px; border: none; }
.table-outer table.table.table-striped thead .filters input { background: #fff; border: 1px solid rgba(83, 128, 191, 0.48); border-radius: 3px; }
.table-outer .table-striped>tbody>tr:nth-of-type(odd) { background: none; }
.table-outer .table-striped>tbody>tr:nth-of-type(even) { background: rgba(204, 204, 204, 0.3); }
.table-outer .table>tbody>tr>td { color: #737475; font-size: 14px; padding: 10px 15px; border: none; }
table.table-striped.table-bordered.detail-view { border: none; margin-bottom: 0; }
table.table-striped.table-bordered.detail-view th, table.table-striped.table-bordered.detail-view td { border: none; padding: 10px 15px; }
table.table-striped.table-bordered.detail-view>tbody>tr:nth-of-type(even) { background: rgba(204, 204, 204, 0.15); }
legend { border-bottom: 1px solid rgba(98, 165, 255, 0.42); padding-bottom: 5px; }
#error-form { color: #b12929; position: relative; margin: -5px 0 10px;}
@media (min-width: 768px) {
.sidebar-mini.sidebar-collapse .main-header .logo { width: 105px; }
.sidebar-mini.sidebar-collapse .main-header .navbar { margin-left: 105px; }
.sidebar-mini.sidebar-collapse .main-sidebar { width: 105px !important; }
.sidebar-mini.sidebar-collapse .content-wrapper, .sidebar-mini.sidebar-collapse .right-side, .sidebar-mini.sidebar-collapse .main-footer { margin-left: 105px !important; }
.sidebar-mini.sidebar-collapse .sidebar-menu>li:hover>a>span:not(.pull-right), .sidebar-mini.sidebar-collapse .sidebar-menu>li:hover>.treeview-menu { left: 105px; }
.sidebar-mini.sidebar-collapse .sidebar-menu>li:hover>a>span { padding: 24px 5px 24px 20px; }
.sidebar-mini.sidebar-collapse .sidebar-menu>li:hover>.treeview-menu { top: 70px; margin-left: -3px; }
.sidebar-mini.sidebar-collapse .sidebar-menu>li:hover>a>.pull-right-container { top: -40px !important; }
.sidebar-mini.sidebar-collapse .treeview-menu>li>a { padding: 10px 5px 10px 20px; }
}